@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    /* background-color: #002339; */
    background: linear-gradient(to left, #002339, #004976, #017760);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 0.5px solid #000000;
    border-radius: 10px;
    padding: 2rem 3rem;
    box-shadow: 4px 4px 4px black;

    h1{
        text-align: center;
        font-size: 1.4rem;
        margin-block: 6px;
        user-select: none;
    }
}

.passBox{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0.8rem;
    border-radius: 10px;
    width: 300px;
    font-size: 1.2rem;
    margin-block: 10px;
}

.inputBox{
    position: relative;
    img{
        position: absolute;
        width: 24px;
        top: 22px;
        right: 12px;
        cursor: pointer;
        z-index: 999;
    }
}

.row{
    display: flex;
    margin-block: 8px;

    p, label{
       flex-basis: 100%; 
       font-size: 0.9rem;
       font-weight: 300;
    }
}

.row input[type ="checkbox"]{
    width: 20px;
    height: 20px;
}

.genBtn{
    border: none;
    outline: none;
    background: #045746;
    color: #fff;
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-block: 8px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.genBtn:hover{
    background-color: #177461;
}
